* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* start of utilities */
body {
    background-color: #f1f1f1;
}

.btn {
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    color: red;
}

.btn-link {
    width: 50px;
    height: 35px;
}

.btn-link:hover {
    color: white;
    background-color: red;
}

.btn-link:active {
    color: white;
    background-color: rgba(255, 0, 0, 0.5);
}
/* end of utilities */

/* start of navbar */
.navbar-container {
    width: 100%;
    height: 60px;
    background-color: white;
    padding: 5px 10px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-icon-container {
    display: flex;
    gap: 15px;
    align-items: center;
}

.navbar-icon-container .navbar-title {
    font-size: 24px;
    color: black;
}

.navbar-icon-container:hover .navbar-title {
    font-size: 24px;
    color: red;
}

/* end of navbar */

.main-container {
    width: 100%;
}
/* start of hero section */
.hero-section {
    padding: 30px 10px;
    text-align: center;
    color: white;
    background-image: url('../assets/images/cover_images/alt_hero_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-title {
    font-size: 24px;
}

.hero-content {
    padding: 30px 0;
    font-size: 16px;
    font-weight: 600;
}

.btn-hero {
    margin: 0 auto;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.btn-hero:hover {
    background-color: #f1f1f1;
    color: red;
}

.btn-hero:active {
    background-color: rgba(241, 241, 241, 0.3);
    color: white;
}
/* end of hero section */